/*-- scss:defaults --*/

@import url('https: //fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');
$font-family-sans-serif: "Fira Code", monospace;
$font-family-serif: "Fira Code", monospace;
$presentation-heading-color: #b58900;

$body-bg: #002b36;
$body-color: #268bd2;
$link-color: #2aa198;





